<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
    <section>
        <article class="form">
            <h2>Formulario de registro</h2>
            <form action="/users/create" method="POST" enctype="multipart/form-data">
                <label for="nombre">
                    <p>Nombre:</p>
                    <input class="text-form"
                            type="text"
                            name="nombre"
                            id="nombre"
                            value="<%=locals.old && old.nombre?old.nombre:'' %>"
                    />
                    <p class="alert"><%= locals.errors && errors.nombre? errors.nombre.msg:''  %></p>
                </label>

                <label for="apellido">
                    <p>Apellido:</p>
                    <input  class="text-form"
                            type="text"
                            name="apellido"
                            id="apellido"
                            value="<%=locals.old && old.apellido?old.apellido:'' %>"/>
                    <p class="alert">
                        <%=locals.errors && errors.apellido? errors.apellido.msg:''  %> 
                    </p>
                </label>

                <label for="email">
                    <p>Email:</p>
                    <input class="text-form"
                            type="email" 
                            name="email"
                            id="email"
                            value="<%=locals.old && old.email?old.email:'' %>"/>
                    <p class="alert">
                        <%=locals.errors && errors.email? errors.email.msg:''  %> 
                    </p>
                </label>

                <label for="password">
                    <p>Contraseña:</p>
                    <input class="text-form" type="password" name="password" id="password"
                    />
                    <p class="alert">
                        <%=locals.errors && errors.password? errors.password.msg:''  %> 
                    </p>
                </label>
                <label  for="image">
                    <p>Avatar</p>
                   <input class="text" type="file" name="image" id="image">
                   <p class="alert">
                    <%=locals.errors && errors.nombre? errors.nombre.msg:''  %> 
                   </p>
                </label>
                <span class="buton">
                    <input class="form-buton" type="submit" value="enviar">
                    <input class="form-buton" type="reset" value="borrar">
                </span>
            </form>
        </article>
    </section>
</body>

</html>
